/**
 * Inlined (inlined.scss)
 *
 * - This CSS code will be inlined.
 * - Media queries will be grouped in the <head> of your email template.
 */

/* ----- Charset ----- */
@charset 'UTF-8';

/* ----- Variables ----- */
@import 'variables';

/* ----- Tools ----- */
@import 'tools/grid';

/* ----- Generic ----- */
@import 'generic/reset';
@import 'generic/typography';

/* ----- Objects ----- */
@import 'objects/grid';

/* ----- Utilities ----- */
@import 'utilities/alignment';
@import 'utilities/images';

/* ----- Components ----- */
@import 'components/preheader';
@import 'components/buttons';
@import 'components/hero';

.header-img {
  padding-left: 0!important;
  padding-right: 0!important;
}
.halloween-title {
  font-size:39px;
  font-weight: bolder;
  @media (max-width: 380px) {
      font-size:30px!important;
  }
}
.halloween-title-seller {
  color: #73bd74;
  font-size:22px;
  font-weight: bolder;
}
.halloween-big-txt-seller {
  font-size:22px;
  @media (max-width: 380px) {
    padding-left: 5px!important;
    padding-right: 5px!important;
    font-size:18px!important;
  }
}
.title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: $main-color;
  &.mt {
    margin-top: 40px;
  }
  &.mt-en-seller {
    margin-top: 25px;
    margin-bottom: 35px;
  }
  &.title-footer {
    color: $main-txt-color;
    margin-bottom: 20px;
  }
  &.title-lk {
    font-size: 16px;
    margin-top: -100px;
    font-weight: normal;
    @media (max-width: 500px) {
      margin-top: -60px!important;
    }
  }
  &.color-orange {
    color: $main-color2;
    font-size: 22px;
  }
  &.no-br {
    @media (max-width: 500px) {
      br {
        display: none;
      }
    }
  }
  &.title-orange {
    margin-top: -120px;
    font-size: 22px;
    color: $main-color2;
    @media (max-width: 500px) {
      margin-top: -60px!important;
    }
  }
  &.title-orange2 {
    margin-top: -65px;
    font-size: 22px;
    color: $main-color2;
    @media (max-width: 500px) {
      margin-top: -45px!important;
    }
  }
  &.title-orange3 {
    margin-top: -65px;
    font-size: 22px;
    color: $main-color2;
    @media (max-width: 500px) {
      margin-top: -35px!important;
    }
    @media (max-width: 400px) {
      margin-top: -20px!important;
      margin-bottom: 20px!important;
    }
  }
  &.title-orange-plus-p {
    margin-top: 40px;
    font-size: 22px;
    color: $main-color2;
    @media (max-width: 500px) {
      margin-top: 40px!important;
    }
  }
  &.bulgaria-title {
    color: $main-color;
    font-size: 28px;
  }
}
.title-dedicated-server{
  margin-top: 35px;
  margin-bottom: 0;
}
.title-bold {
  font-weight: bold;
}
.margin-dedicated-server {
  margin-top: 20px;
  margin-bottom: 30px;
}
.welcome-letter-seller-paragraph {
  color: #a5acac;
}
.telegram-list {
  padding-bottom: 20px;
}
.order-was-successfully-issued {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
}
.order-was-successfully-issued-ul {
  margin-top: 40px;
  padding: 0;
  &.proxysale-ul {
    margin-top: 20px;
    margin-bottom: 55px;
    &.deliver-ul {
      margin-top: -20px;
      @media (max-width: 500px) {
        margin-top: 10px!important;
      }
    }
    li {
      margin-bottom: 0;
    }
  }
  &.m-o {
    margin: 0 0 40px 0;
    li {
      margin-bottom: 0;
    }
  }
  &.fz-16 {
    li {
      font-size: 16px;
    }
  }
  &.fz-20 {
    li {
      font-size: 20px;
    }
  }
  &.welcome-letter-seller-ul {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  li {
    margin-bottom: 20px;
    list-style: none;
    font-size: 18px;
    color: $main-txt-color
  }
  span {
    font-weight: bold;
  }
}
p {
  font-size: 16px;
  color: $main-txt-color;
  &.england {
    color: $color-dark!important;
  }
  &.survey-proxysale {
    margin-top: -120px;
    @media (max-width: 500px) {
      margin-top: -60px!important;
    }
  }
  &.lk {
    font-size: 16px;
  }
  &.mt-txt {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &.fz-18 {
    font-size: 18px;
  }
  &.fz-19 {
    font-size: 19px;
  }
  &.fz-21 {
    font-size: 21px;
  }
  &.fz-22 {
    font-size: 22px;
  }
  &.fz-26 {
    font-size: 26px;
  }
  &.mt-txt-40 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &.mb-txt-10 {
    margin-bottom: 10px;
  }
  &.mb-txt-5 {
    margin-bottom: 5px;
  }
  &.mb-big {
    margin-bottom: 50px;
  }
  &.mb-0 {
    margin-bottom: 0;
  }
  &.mb-mid {
    margin-bottom: 30px;
  }
  &.color-orange {
    color: $main-color2;
  }
  a {
    color: $main-color;
  }
  &.lk-color-orange {
    color: $main-color2;
    font-weight: bold;
  }
  &.title-lk {
    font-weight: bolder;
  }
  &.fz-20 {
    font-size: 20px;
  }
}
.text-center {
  text-align: center;
}
.Links-to-forums-proxy-sale {
  text-align: left;
  font-size: 0;
  margin-bottom: 45px;
}
.Links-to-forums-proxy-sale__item {
  width: 50%;
  display: inline-block;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  @media (max-width: 500px) {
    width: 100%!important;
    font-size: 18px!important;
  }
  a {
    color: #20282a;
    text-decoration: underline;
  }
}
.Links-to-forums-proxy-seller {
  width: 480px;
  margin: auto;
  font-size: 20px;
  @media (max-width: 500px) {
    width: 100%!important;
  }
  a {
    display: inline-block;
    margin-bottom: 10px;
    color: $main-txt-color;
    text-decoration: underline;
  }
  span {
    display: inline-block;
  }
}
.affiliate-statistics-wrap {
  margin-bottom: 30px;
}
.affiliate-statistics-item {
  height: 48px;
  line-height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #4d67ac;
  background-color: #e6f9f1;
  color: #3a4763;
  @media (max-width: 500px) {
    font-size: 14px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
  }
}
.affiliate-statistics-item-sum {
  float: right;
}
.affiliate-statistics-bot-sum {
  margin-bottom: 55px;
  font-weight: bolder;
  font-size: 18px;
  dl {
    overflow: hidden;
    margin: 0;
    dt {
      width: 70%;
      display: inline-block;
      line-height: 1.2;
      @media (max-width: 500px) {
        width: 65%!important;
      }
    }
    dd {
      display: inline-block;
      margin: 0;
      text-align: right;
      float: right;
      color: $main-color;
    }
  }
}
.stock-date {
  color: $main-txt-color;
}
.stock-date-img {
  margin-bottom: 20px;
}
.link {
  text-align: center;
  a {
  width: 260px;
  height: 38px;
  margin: auto;
  line-height: 38px;
  display: inline-block;
  background-color: #73bd74;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 3px 0 #2eab65;
  text-decoration: none;
  text-align: center;
  }
  &.reactivation {
    a {
      width: 220px;
    }
  }
  &.dedicated-server {
    a {
      width: 360px;
      margin-bottom: 20px;
      font-size: 14px;
    }
  }
  &.new-locations {
    a {
      width: 325px;
      margin-bottom: 35px;
      @media (max-width: 500px) {
        width: 270px!important;
        font-size: 13px!important;
      }
    }
  }
  img {
    position: relative;
    top: -2px;
    vertical-align: middle;
    margin-right: 5px;
    &.fa-data {
      top: -1px;
    }
  }
}
.link-orange {
  text-align: center;
  a {
    width: 266px;
    height: 59px;
    border-radius: 10px;
    margin: 5px auto 10px;
    line-height: 59px;
    display: inline-block;
    font-size: 22px;
    background-color: $main-color2;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
  &.lk {
    a {
      width: 400px;
      font-weight: bold;
      @media (max-width: 500px) {
        width: 300px!important;
        font-size: 16px!important;
      }
    }
  }
  &.reactivation {
    a {
      width: 320px;
      font-weight: bold;
      @media (max-width: 500px) {
        width: 300px!important;
        font-size: 16px!important;
      }
    }
  }
  &.reg-proxysale {
    a {
      margin-bottom: 20px;
    }
  }
}
.logo-wrap {
  padding-bottom: 30px;
  padding-top: 30px;
  @media (max-width: $breakpoint-mobile) {
    text-align: center!important;
  }
}
.proxy-news-tuning-seller-item {
  margin-bottom: 30px;
}
.proxy-news-tuning-seller-item__img {
  width: 50%;
  display: table-cell;
  @media (max-width: 600px) {
    width: 100%!important;
    display: table!important;
    margin-bottom: 20px!important;
    text-align: center!important;
  }
}
.proxy-news-tuning-seller-item__txt {
  width: 50%;
  display: table-cell;
  h3 {
    font-size: 22px;
    line-height: 1.2;
    color: $main-txt-color;
  }
  p {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 1.2;
  }
  a {
    margin-right: 5px;
    color: $main-color;
    font-size: 16px;
    text-decoration: none;
  }
  img {
    vertical-align: middle;
  }
  @media (max-width: 600px) {
    width: 100%!important;
    display: table!important;
  }
}
// sale
.proxy-news-tuning-sale-item {
  margin-bottom: 30px;
  &.proxy-news-tuning-sale-item__minus-margin {
    margin-top: -120px;
    @media (max-width: 530px) {
      margin-top: -60px!important;
    }
  }
  h3 {
    font-size: 19px;
    font-weight: bolder;
    line-height: 1.2;
    color: $main-color2;
    margin-bottom: 10px;
    img {
      margin-right: 10px;
    }
  }
}
.proxy-news-tuning-sale-item__img {
  width: 50%;
  display: table-cell;
  @media (max-width: 600px) {
    width: 100% !important;
    display: table !important;
    margin-top: 20px !important;
    text-align: left !important;
  }
  img {
    margin-right: 15px;
    @media (max-width: 600px) {
      margin-bottom: 15px!important;
    }
  }
}
.proxy-news-tuning-sale-item__txt {
  width: 50%;
  display: table-cell;
  p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.2;
    @media (max-width: 600px) {
      margin-bottom: 15px!important;
    }
  }
  a {
    width: 141px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    display: inline-block;
    background-color: #fe7c06;
    border-radius: 5px;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
  }
  img {
    vertical-align: middle;
  }
  @media (max-width: 600px) {
    width: 100%!important;
    display: table!important;
  }
}
.logo {
  display: inline-block;
}
.social {
  display: inline-block;
  Float: right;
  a {
    text-decoration: none;
    margin-right: 27px;
    &.last {
      margin-right: 0;
    }
  }
  @media (max-width: $breakpoint-mobile) {
    display: block!important;
    Float: none!important;
    margin-top: 20px;
  }
}
.footer {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #eef2f2;
  &.england {
    background-color: #f6f6f6;
  }
}
.footer-list {
  margin-bottom: 0;
  margin-top: 10px;
  i {
    display: inline-block;
    vertical-align: middle!important;
    margin-right: 5px;
    img {
      display: inline-block;
      vertical-align: middle!important;
    }
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
}
.footer-bot {
  text-align: center;
  padding-top: 30px;
  p {
    font-size: 11px;
    &.line-height {
      line-height: 1.2;
    }
  }
  a {
    font-size: 11px;
    color: $main-color;
    text-decoration: underline;
  }
  &.footer-lk {
    padding-top: 10px;
  }
}
.footer-bot__green {
  font-size: 11px;
  font-weight: bold;
  color: $main-color;
}